// bower:scss
// endbower

//  8888888 888b     d888 8888888b.   .d88888b.  8888888b. 88888888888 .d8888b.
//    888   8888b   d8888 888   Y88b d88P" "Y88b 888   Y88b    888    d88P  Y88b
//    888   88888b.d88888 888    888 888     888 888    888    888    Y88b.
//    888   888Y88888P888 888   d88P 888     888 888   d88P    888     "Y888b.
//    888   888 Y888P 888 8888888P"  888     888 8888888P"     888        "Y88b.
//    888   888  Y8P  888 888        888     888 888 T88b      888          "888
//    888   888   "   888 888        Y88b. .d88P 888  T88b     888    Y88b  d88P
//  8888888 888       888 888         "Y88888P"  888   T88b    888     "Y8888P"

    @import "normalize";

//  888     888     d8888 8888888b.  8888888        d8888 888888b.   888      8888888888 .d8888b.
//  888     888    d88888 888   Y88b   888         d88888 888  "88b  888      888       d88P  Y88b
//  888     888   d88P888 888    888   888        d88P888 888  .88P  888      888       Y88b.
//  Y88b   d88P  d88P 888 888   d88P   888       d88P 888 8888888K.  888      8888888    "Y888b.
//   Y88b d88P  d88P  888 8888888P"    888      d88P  888 888  "Y88b 888      888           "Y88b.
//    Y88o88P  d88P   888 888 T88b     888     d88P   888 888    888 888      888             "888
//     Y888P  d8888888888 888  T88b    888    d8888888888 888   d88P 888      888       Y88b  d88P
//      Y8P  d88P     888 888   T88b 8888888 d88P     888 8888888P"  88888888 8888888888 "Y8888P"
    
    // Colors
    // --------------------------------------------------
    $bg: #1D2123;

    $gold: #c7a262;

    $black: #222;
    $white: #FFF;

    // Fonts
    // --------------------------------------------------
    $sans: "acumin-pro-semi-condensed", "Arial Narrow", "Helvetica Neue", Helvetica, sans-serif;
    $serif: "freight-text-pro", georgia, serif;
    $display: "freight-big-pro", georgia, serif;

    // Media queries
    // --------------------------------------------------
    $bp_smaller: 480px;
    $bp_small: 768px;
    $bp_medium: 1024px;
    $bp_large: 1200px;
    $bp_xlarge: 1440px;
    $bp_huge: 2000px;

//  888b     d888 8888888 Y88b   d88P 8888888 888b    888  .d8888b.
//  8888b   d8888   888    Y88b d88P    888   8888b   888 d88P  Y88b
//  88888b.d88888   888     Y88o88P     888   88888b  888 Y88b.
//  888Y88888P888   888      Y888P      888   888Y88b 888  "Y888b.
//  888 Y888P 888   888      d888b      888   888 Y88b888     "Y88b.
//  888  Y8P  888   888     d88888b     888   888  Y88888       "888
//  888   "   888   888    d88P Y88b    888   888   Y8888 Y88b  d88P
//  888       888 8888888 d88P   Y88b 8888888 888    Y888  "Y8888P"

    // Media Queries
    // --------------------------------------------------
    @mixin media-min-huge {
      @media only screen and (min-width: $bp_huge) {
        @content;
      }
    }

    @mixin media-min-xlarge {
      @media only screen and (min-width: $bp_xlarge) {
        @content;
      }
    }

    @mixin media-min-large {
      @media only screen and (min-width: $bp_large) {
        @content;
      }
    }

    @mixin media-min-medium {
      @media only screen and (min-width: $bp_medium) {
        @content;
      }
    }

    @mixin media-max-medium {
      @media only screen and (max-width: $bp_medium - 1) {
        @content;
      }
    }

    @mixin media-min-small {
      @media only screen and (min-width: $bp_small) {
        @content;
      }
    }

    @mixin media-max-small {
      @media only screen and (max-width: $bp_small - 1) {
        @content;
      }
    }

    @mixin media-min-smaller {
      @media only screen and (min-width: $bp_smaller) {
        @content;
      }
    }

    // Clearfix
    // --------------------------------------------------
    %clearfix {
      *zoom: 1;
      &:before, &:after {
        content: " ";
        display: table;
      }
      &:after {
        clear: both;
      }
    }

    @mixin clearfix {
        *zoom: 1;
        &:before, &:after {
          content: " ";
          display: table;
        }
        &:after {
          clear: both;
        }
    }

    // Truncate text
    // --------------------------------------------------
    %truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @mixin truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    // Unselectable
    // --------------------------------------------------
    @mixin unselectable {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    // Visually hidden
    // --------------------------------------------------
    %visuallyhidden {
      margin: -1px;
      padding: 0;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
      clip: rect(0, 0, 0, 0);
      position: absolute;
    }

    // Positioning
    // --------------------------------------------------

    @mixin absolute-center {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    @mixin horizontal-center {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    @mixin vertical-center {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    // Fancy link
    // --------------------------------------------------
    @mixin fancy_link {
      position: relative;
      
      &::before {
        content: '';
        width: 100%;
        height: 2px;
        background: $gold;
        position: absolute;
        top: 100%;
        left: 0;
        transition: all 0.2s ease;
      }

      &:hover {
        color: $white;

        &::before {
          height: 4px;
        }
      }
    }


//  888888b.         d8888  .d8888b.  8888888888
//  888  "88b       d88888 d88P  Y88b 888
//  888  .88P      d88P888 Y88b.      888
//  8888888K.     d88P 888  "Y888b.   8888888
//  888  "Y88b   d88P  888     "Y88b. 888
//  888    888  d88P   888       "888 888
//  888   d88P d8888888888 Y88b  d88P 888
//  8888888P" d88P     888  "Y8888P"  8888888888

  * {
    box-sizing: border-box;
  }

  html {
    font-size: 16px;
  }

  body {
    font-size: 1rem;
    font-family: $serif;
    background: $bg linear-gradient(45deg, transparent 60%,rgba(black,0.65) 100%) no-repeat fixed;
  }

  // --------------------------------------------------
  // Typography
  // --------------------------------------------------

    // Headers
    // --------------------------------------------------
      @for $i from 1 to 6 {
        h#{$i} {
          margin: 0;
          font-weight: 400;
          font-family: $display;
        }
      }

      h1 {
        font-size: 2.2175rem;
        font-weight: 300;
        line-height: 1;

        @include media-min-smaller {
          font-size: 3rem;
        }

        @include media-min-small {
          font-size: 4.25rem;
        }

        @include media-min-medium {
          font-size: 5.5rem;
          line-height: 0.9em;
        }

        @include media-min-large {
          font-size: 3.75rem;
        }

        @include media-min-xlarge {
          font-size: 5.5rem;
        }
      }

    // Paragraphs, copy blocks
    // --------------------------------------------------
      p {
        line-height: 1.5;
        margin-top: 1rem;
        margin-bottom: 1rem;

        &:first-of-type {
          margin-top: 0;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }

    // Links
    // --------------------------------------------------
      a {
        font-family: $sans;
        text-decoration: none;
        font-weight: 300;
        color: $gold;
      }

    // Icons
    // --------------------------------------------------
      .icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        fill: currentColor;
      }

  // Forms
  // --------------------------------------------------

    .input {
      margin-bottom: .5rem;
      position: relative;

      input {
        border: 0;
        border-radius: 3px;
        display: block;
        padding: .5rem .75rem;
        width: 100%;
        font-family: $sans;

        &:focus {
          box-shadow: 0;
          outline: 0;
        }
      }

      label {
        font-family: $sans;
        position: absolute;
        @include vertical-center;
        left: .75rem;
      }
    }

    .form-actions {
      button {
        background: $gold;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        font-family: $sans;
        border: 0;
        border-radius: 3px;
        padding: .5rem .75rem;
        text-align: center;
        width: 100%;

        &:hover {
          background: lighten($gold, 5%);
        }
      }
    }



//  888             d8888 Y88b   d88P  .d88888b.  888     888 88888888888
//  888            d88888  Y88b d88P  d88P" "Y88b 888     888     888
//  888           d88P888   Y88o88P   888     888 888     888     888
//  888          d88P 888    Y888P    888     888 888     888     888
//  888         d88P  888     888     888     888 888     888     888
//  888        d88P   888     888     888     888 888     888     888
//  888       d8888888888     888     Y88b. .d88P Y88b. .d88P     888
//  88888888 d88P     888     888      "Y88888P"   "Y88888P"      888
    
    // Containers
    // --------------------------------------------------
      ._c {
        padding: 1rem;

        @include media-min-smaller {
          padding: 1.5rem;
        }

        @include media-min-small {
          padding: 3rem;
        }

        ._collapse {
          margin-left: -1rem;
          margin-right: -1rem;

          @include media-min-smaller {
            margin-left: -1.5rem;
            margin-right: -1.5rem;
          }

          @include media-min-small {
            margin-left: -3rem;
            margin-right: -3rem;
          }
        }
      }


//  888b     d888  .d88888b.  8888888b.  888     888 888      8888888888 .d8888b.
//  8888b   d8888 d88P" "Y88b 888  "Y88b 888     888 888      888       d88P  Y88b
//  88888b.d88888 888     888 888    888 888     888 888      888       Y88b.
//  888Y88888P888 888     888 888    888 888     888 888      8888888    "Y888b.
//  888 Y888P 888 888     888 888    888 888     888 888      888           "Y88b.
//  888  Y8P  888 888     888 888    888 888     888 888      888             "888
//  888   "   888 Y88b. .d88P 888  .d88P Y88b. .d88P 888      888       Y88b  d88P
//  888       888  "Y88888P"  8888888P"   "Y88888P"  88888888 8888888888 "Y8888P"
    
    // --------------------------------------------------
    // Global Stuff
    // --------------------------------------------------

      // Header
      // --------------------------------------------------
        .global--header {
          padding: 1rem;
          position: relative;

          @include media-min-smaller {
            padding: 1.5rem;
          }

          @include media-min-small {
            padding: 3rem;
            @include clearfix;
          }

          @include media-min-large {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 2;
          }
        }

        // Brand
        .brand {
          display: inline-block;

          @include media-min-small {
            float: left;
            margin-right: 15px;
          }
        }
        #brand {
          height: 40px;
          width: 70px;
          position: relative;
          top: 3px;
          z-index: 10;

          @include media-min-small {
            height: 65px;
            width: 114px;
          }

          @include media-min-large {
            margin-right: 50px;
          }
        }

      // Nav
      // --------------------------------------------------
        .global--navigation {
          @include media-max-small {
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(black, 0.9);
            height: 100%;
            width: 100%;
            text-align: center;
            z-index: 9;
            opacity: 0;
            pointer-events: none;
            transition: all 0.4s ease;
            transform: scale(1.1);
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            
            nav {
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              align-items: center;
            }

            a {
              display: inline-block;
              font-size: 1.5rem;
              font-weight: 300;
              padding: 0;
              position: relative;
              margin: 10px 0;
              
              &::before {
                content: '';
                width: 100%;
                height: 2px;
                background: rgba($gold, .25);
                position: absolute;
                top: 100%;
                left: 0;
                transition: all 0.2s ease;
              }

              &:hover,
              &.active {
                color: $white;

                &::before {
                  background: $gold;
                }
              }
            }
          }
          @include media-min-small {
            nav {
              display: inline-block;
              line-height: 65px;

              &.nav-primary {
                float: left;
              }

              &.nav-secondary {
                float: right;
              }

              a {
                font-size: 1.15rem;
                color: rgba($gold, 0.8);
                margin: 0 15px;

                &:hover {
                  color: $gold;
                }
              }
            }

            // Inverted nav
            // --------------------------------------------------
            &.inverted nav a {
              color: rgba($white, 0.6);

              &:hover {
                color: $white;
              }
            }
          }
          
        }

        // Control
        .mobile--nav-control {
          z-index: 10;
          @include vertical-center;
          right: 1rem;
          width: 20px;
          height: 16px;

          @include media-min-smaller {
            right: 1.5rem;
          }

          @include media-min-small {
            display: none;
          }

          span {
            display: block;
            width: 20px;
            height: 2px;
            background: $gold;
            position: absolute;
            transition: all 0.4s ease;

            &:nth-child(1) {
              top: 0;
              left: 0;
            }

            &:nth-child(2),
            &:nth-child(3) {
              @include absolute-center;
            }

            &:nth-child(4) {
              bottom: 0;
              left: 0;
            }
          }
        }

        // Mobile nav open
        // --------------------------------------------------
        .--mobile-nav-open {
          .global--navigation {
            opacity: 1;
            pointer-events: auto;
            transform: scale(1);
          }

          .mobile--nav-control {
            span {
              &:nth-child(1),
              &:nth-child(4) {
                opacity: 0;
              }

              &:nth-child(1) {
                top: -20px;
              }

              &:nth-child(2) {
                bottom: -20px;
              }

              &:nth-child(2) {
                transform: translate(-50%,-50%)rotate(-45deg);
              }
              &:nth-child(3) {
                transform: translate(-50%,-50%)rotate(45deg);
              }
            }
          }
        }

      // Footer
      // --------------------------------------------------
        .global--footer {
          @include media-min-medium {
            clear: both;
          }
        }

        .mailing-list {
          background: #333;

          p {
            color: rgba($white, 0.5);
            margin-bottom: 1rem;
            text-align: center;
            font-family: $sans;

            @include media-min-small {
              br {
                display: none;
              }
            }
          }

          form {
            @include clearfix;
            max-width: 600px;
            margin: 0 auto;
          }

          .input, .form-actions {
            @include media-min-small {
              float: left;
            }
          }

          .form-actions {
            @include media-min-small {
              width: 100px;
              margin-left: 20px;
            }
          }

          .input {
            @include media-min-small {
              width: calc(50% - 70px);

              &:first-of-type {
                margin-right: 20px;
              }
            }
          }
        }

        .nav-footer {
          text-align: center;

          a {
            display: inline-block;
            font-size: 1.2rem;
            padding: 8px;
          }
        }

    // --------------------------------------------------
    // View specifics
    // --------------------------------------------------

    // Hero
    // --------------------------------------------------
      .hero {
        color: $white;
        padding-bottom: 0;

        @include media-min-large {
          @include clearfix;
          padding: 0;
        }

        > div {
          @include media-min-large {
            width: 50vw;
            max-height: none;
            height: 95vh;
            float: left;
            min-height: 700px;
          }
        }

        .hero--statement {
          @include media-min-large {
            padding: calc(10vw + 3rem) 3rem 3rem;
            position: relative;
          }

          .content {
            @include media-min-large {
              @include vertical-center;
              width: 100%;
              padding: 0 3rem;
              left: 0;
            }

            .title {
              text-shadow: 0 2px 4px rgba(black, 1 );
            }
          }
        }

        .hero--action {
          display: inline-block;
          border-radius: 3px;
          margin-top: 1rem;
          font-size: 1.175rem;
          @include fancy_link;

          @include media-min-medium {
            font-size: 1.75rem;
            margin-top: 20px;
          }
        }
      }

      // Hero feature
      .hero--feature {
        background: black url('../images/coffee.jpg') no-repeat center center / cover;
        margin-top: 3rem;
        height: 100vw;
        position: relative;
        max-height: 300px;

        @include media-min-small {
          margin-top: 5rem;
        }

        @include media-min-medium {
          margin-top: 7rem;
          max-height: 400px;
        }

        @include media-min-large {
          background: black url('../images/coffee.jpg') fixed no-repeat top right / auto 100vh;
          margin: 0 !important;
        }

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          pointer-events: none;
        }

        &::before {
          background: black;
          opacity: 0.5;
        }

        &::after {
          background: linear-gradient(135deg, transparent 0%,rgba(black,1) 100%) no-repeat
        }

        .content {
          @include absolute-center;
          width: 100%;
          z-index: 2;
          font-size: 1.175rem;

          @include media-min-medium {
            font-size: 1.5rem;
          }

          @include media-min-large {
            text-align: center;
          }

          .title {
            font-size: 2.125rem;

            @include media-min-smaller {
              font-size: 3rem;
            }

            @include media-min-medium {
              font-size: 3.5rem;
            }

            @include media-min-large {
              display: inline-block;
              padding: .75rem 3rem;
              border: 4px solid rgba($white, 0.25);
              margin: 0 0 1rem;
            }
          }

          p {
            color: rgba($white, 0.6);
            font-family: $sans;
            line-height: 1.2;
            margin: 5px 0;
          }

          a {
            @include fancy_link;
          }
        }
      }

    // Highlights nav
    // --------------------------------------------------
      .highlights {
        
        @include media-min-smaller {
          @include clearfix;
        }

        @include media-min-medium {
          width: 66.6666667vw;
          float: left;
        }

        a {
          display: block;
          padding: 0 1rem;
          line-height: 4rem;
          height: 4rem;
          font-size: 1.375rem;
          color: $white;
          position: relative;
          overflow: hidden;

          &:after {
            content: '';
            background: linear-gradient(45deg, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all 0.3s ease;
            transform: scale(1.2);
          }

          &:hover {
            &:after {
              opacity: 0.5;
              transform: scale(1);
            }
          }

          @include media-min-smaller {
            padding: 0 1.5rem;
            float: left;
            width: 50vw;
            text-align: center;
          }

          @include media-min-small {
            height: 15rem;
            line-height: 15rem;
          }

          @include media-min-medium {
            width: 50%;
          }
        }

        .nav-about {
          background: darken($gold, 15%);
        }

        .nav-giving {
          background: $gold;
        }
      }

  // --------------------------------------------------
  // Sections
  // --------------------------------------------------

    // Meet our team
    // --------------------------------------------------
      .section--our-team {
        background: rgba(black, .5);
        color: $white;
        height: 50vw;
        position: relative;

        @include media-min-medium {
          float: left;
          width: 33.3333333vw;
          height: 15em;
        }

        .headshot {
          width: 50vw;
          height: 50vw;
          background-size: cover;
          background-position: center center;
          opacity: 0.75;

          @include media-min-medium {
            @include vertical-center;
            left: 0;
            width: 50%;
            height: 100%;
            opacity: 0.5;
          }
        }

        .content {
          width: 50vw;
          @include vertical-center;
          left: 50vw;

          @include media-min-smaller {
            font-size: 1.15rem;
          }

          @include media-min-small {
            font-size: 1.5rem;
          }

          @include media-min-medium {
            width: 50%;
            left: 50%;
            z-index: 2;
            font-size: 1.15rem;
            padding: 1rem;
          }

          small {
            font-family: $sans;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            color: rgba($white,.3);
          }

          .name {
            font-family: $sans;
          }

          .title {
            font-style: italic;
            color: rgba($white, .6);
            display: block;
          }
          
          a {
            display: inline-block;
            margin-top: 5px;
            @include fancy_link;

            @include media-min-small {
              font-size: 1.175rem;
            }
          }
        }
      }

    // --------------------------------------------------
    // Interior template
    // --------------------------------------------------
      .view--interior {
        background: $white;
        color: $black;

        .global--header {
          position: relative;
        }

        .mailing-list {
          background: $white;
          color: $black;

          p {
            color: $black;
          }

          input {
            border: 1px solid rgba(black, 0.25);

            &:focus {
              border-color: rgba(black, 0.75);
            }
          }
        }
      }

      .view-header,
      .view-content {
        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .view-header {
        text-align: center;

        h1 {
          font-weight: 400;
          font-style: italic;

          @include media-min-large {
            font-size: 5.5rem;
          }
        }
      }

      .view-content {

        > p {
          max-width: 600px;
          margin-left: auto;
          margin-right: auto;

          @include media-min-small {
            font-size: 1.25rem;
            max-width: 800px;
            margin-top: 2rem;
            margin-bottom: 2rem;
          }

          @include media-min-medium {
            font-size: 1.5rem;
            max-width: 900px;
            margin-top: 3rem;
            margin-bottom: 3rem;
          }
        }

        a {
          font-family: $serif;
        }

        .break {
          text-align: center;
          font-family: $sans;
          font-weight: 600;
          color: $gold;

          @include media-min-small {
            font-size: 1.5rem;
          }

          @include media-min-medium {
            font-size: 2rem;
          }
        }
      }

      blockquote {
        @extend ._c;
        @extend ._collapse;
        background: $gold;
        color: $white;
        text-align: center;

        &:nth-child(2n+1) {
          background: $black;
        }

        @include media-min-smaller {
          padding-top: 3rem;
          padding-bottom: 3rem;
          margin-top: 2rem;
          margin-bottom: 2rem;
        }

        @include media-min-small {
          padding-top: 4rem;
          padding-bottom: 4rem;
          margin-top: 3rem;
          margin-bottom: 3rem;
        }

        @include media-min-medium {
          padding-top: 5rem;
          padding-bottom: 5rem;
          margin-top: 4rem;
          margin-bottom: 4rem;
        }

        @include media-min-large {
          padding-top: 6rem;
          padding-bottom: 6rem;
          margin-top: 5rem;
          margin-bottom: 5rem;
        }

        small {
          display: block;
          color: rgba($white, 0.6);
          font-family: $sans;
          font-weight: 600;
          margin: 0 0 .5rem;
        }
        
        p + small {
          margin: .5rem 0 0;
        }

        p {
          font-family: $display;
          font-size: 1.5rem;
          line-height: 1.2;
          font-style: italic;

          @include media-min-smaller {
            font-size: 1.75rem;
          }

          @include media-min-small {
            font-size: 2.25rem;
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
          }

          @include media-min-medium {
            font-size: 3rem;
          }
        }
      }

  // --------------------------------------------------
  // Blog post
  // --------------------------------------------------
    .post-meta {
      margin-top: 1.5rem;
      font-family: $sans;

      @include media-min-small {
        font-size: 1.25rem;
      }

      @include media-min-large {
        font-size: 1.5rem;
      }

      .post-date {
        color: rgba(black, 0.4);
      }
    }